#links{
    position: relative;
    text-align: center;
}

.link{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
}

.link:hover{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
}

.b{
    color: rgb(8,54,67);
}

.ca{
    color: rgb(184,236,215);
}

.co{
    color: rgb(206,240,157);
}

.p{
    color: rgb(71,108,94);
}

.t{
    color: rgb(174,224,1);
}
