body{
    margin: 0;
    font-family: "Sans Pro", sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: auto;
}
#othersites{
    margin: auto;
    text-align: center;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.othersite{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    text-decoration: none;
    padding-top: 15px;
}
.othersite:hover{
    position: relative;
    text-decoration: none;
    color: rgb(120,110,110);
    background-image: url("img/gray.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center top;
}
#sitelinks{
	width: 100%;
	height: 50px;
	text-align: center;
	z-index: 10;
	background-color: rgb(230,230,230);
	top: 0;
}
.sitelink{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    text-decoration: none;
    color: rgb(47,128,194);
}
.sitelink:hover{
    display: inline-block;
    margin-right: 50px;
    height: 50px;
    background-image: url("img/linkblue.png");
    background-repeat: no-repeat;
    background-size: 200px 5px;
    background-position: center bottom;
    text-decoration: none;
    color: rgb(47,128,243);
}
/*Content*/
.section{
    width: 100%;
    overflow-y: auto;
    text-align: center;
    z-index: 0;
}
#intro{
    text-align: center;
    min-height: 100vh;
}
.title{
	width: 70%;
	max-width: 700px;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
}
#aboutus{
	padding-bottom: 50px;
	padding-top: 50px;
}
#competitions{
	background-color: rgb(230,230,230);
	padding-bottom: 50px;
	padding-top: 50px;
}
#fundraising{
	padding-bottom: 50px;
	padding-top: 50px;
}
#service{
	background-color: rgb(230,230,230);
	padding-bottom: 50px;
	padding-top: 50px;
}
#leadership{
	padding-bottom: 50px;
	padding-top: 50px;
}
/*Assorted Styles*/
br{
    color: rgb(40,40,40);
    line-height: 20px;
    height: 20px;
}
.text{
    text-align: justify;
    font-size: 18px;
    line-height: 27px;
    display: inline-block;
    max-width: 80%;
}
.smalltext{
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}
.subtitle{
    text-align: center;
    font-size: 34px;
    line-height: 72px;
}
.bodylink{
    color: rgb(47,128,194);
    text-decoration: none;
    cursor: pointer;
}
.bodylink:hover{
    color: rgb(47,128,243);
    text-decoration: none;
    cursor: pointer;
}
.linktext{
    color: rgb(47,128,194);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.linktext:hover{
    color: rgb(47,128,243);
    text-decoration: none;
    cursor: pointer;
}

.circlelink{
display: inline-block;
  background-image: url(img/circle.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 3;
}

.circlelink:hover{
  background-image: url(img/circle2.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
    z-index: 3;
}

.tech{
	display: inline-block;
	max-width: 200px;
	width: 20%;
	min-height: 200px;
	border-style: solid;
	border-color: rgb(200,200,200);
	border-radius: 120px;
	border-width: 20px;
	vertical-align: middle;
}
.tech:hover{
	opacity: .7;
}
/*JS Stuff*/
    display: nfone;
}
